@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 70%;
  margin: 0 auto;
}

.title {
  position: relative;
  z-index: 1;
  margin: 3% 0 4%;

}

.title h1 {
  font-family: 'Barrio', cursive;
  color: #ba6a6b;
  font-size: 5.5em;
  margin: 0 0 9% 0;
  z-index: 2;
  -webkit-text-stroke: 1px white;
  text-shadow: 3px 3px 0 orange, -1px -1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange, 1px 1px 0 orange;
}

.title img {
  z-index: -1;
  position: absolute;
  top: 40%;
  left: 50%
}

.start-btn {
  font-family: 'Barrio', cursive;
  /* font-family: 'Roboto', sans-serif; */
  background: white;
  color: #ba6a6b;
  border-radius: 7px;
  padding: 0.2em;
  font-size: 2em;
  border: solid #ba6a6b 2px;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
  margin: 8%;
}

.start-btn:hover {
  color: #C47071;
  border-color: #C47071;
  font-size: 2.1em;
  box-shadow: 5px 5px 5px #ccc;
}

.start-btn:active {
  color: orange;
  border-color: orange;
  font-size: 1.9em;
  box-shadow: 1px 1px 1px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.bingo-img {
  display: block;
}

.reveal img {
  margin: 0 auto;
}

.reveal-btn, .next-btn {
  background: transparent;
  outline: none;
  border: none;
  color: #ba6a6b;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-family: 'Barrio', cursive;
}

.reveal-btn:hover, 
.reveal-btn:active,
.next-btn:hover,
.next-btn:active {
  color: #D17779;
}

@media (max-width: 1320px) {
  .title img {
    left: 57%;
  }
}


@media (max-width: 767px) {
  .App-header {
    width: 100%;
    padding: 2%;
  }

  .title {
    margin: 20% 0 5%;
  }
  .title h1 {
    font-size: 5em;
  }

  .title img {
    top: 69%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .start-btn {
    margin: 40% 8% 5%;
  }

  .bingo-clue {
    padding: 20% 0 0;
  }
}
